################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_Versioning/.vs/API_Versioning
/API_Versioning/API_Versioning/obj
